
body {
    line-height: 2;
}

table {
    table-layout: fixed;
    width: 100%;
    border: 3px solid black;
}

td {
    border: 3px solid black;

}

label {
    display: block;
}


.list {
    height: 325px;
    overflow: auto;
}

.form-control {
    width: 95%;
}
 
